#fruit-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subListItem{
    list-style: none;
    text-align: left;
}

.subListName {
    font-size: 20px;
    text-align: center;
}

li{
    list-style: none;
}

.title-headers{
    text-align: center;
}

.newListItem{
    padding: 20px;
    margin: 20px;
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.form-div{
    width: 250px;
    padding: 5px;
    border-style: solid;
}

.yellow{
    background-color: yellow;
}
.green{
    background-color: rgb(84, 231, 84);
}
.red{
    background-color: rgb(248, 39, 39);
}
.blue{
    background-color: rgb(32, 99, 243);
} 
.purple{
    background-color: rgb(177, 8, 177);
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}
.brown{
    background-color: rgb(190, 49, 49);
}
